<div drawer>
  <header class="app-bar promote-layer primary"  grow reveal duration="1">
    <div class="app-bar-container">
      <button class="menu" ripple="white"><img src="images/hamburger.svg" alt="Menu"></button>
      <h1 class="logo"><strong>Dev</strong>keep</h1>
      <section class="app-bar-actions">

        <paper-button ng-click="grow.message = 'go';grow.form = 'signin'"class="paper-button raised" ripple="accent">sign in</paper-button>

        <paper-button ng-click="grow.message = 'go'; grow.form = 'join'" class="paper-button raised" ripple="accent">join</paper-button>

      </section>
    </div>
  </header>

  <nav class="navdrawer-container promote-layer">
    <h4 class="shadow-1 accent">Navigation</h4>
    <ul>
      <li ui-sref-active="active"><a ui-sref="app.home.how" duration=".8" ripple="accent">How it works</a></li>
      <li ui-sref-active="active"><a ui-sref="app.home.landing" duration=".8" ripple="accent">Home</a></li>
      <li ui-sref-active="active"><a ui-sref="app.home.faq" durantion=".8" ripple="accent">FAQ</a></li>
    </ul>
  </nav>

  <div ui-view></div>

  <footer>

  </footer>
</div>


