[ripple]
  position relative
  font-family 'Roboto', sans-serif
  font-size 20px
  padding 4px 12px
  overflow hidden
  border 0
  outline 0
  background 0
  user-select none
  transition box-shadow .2s
  cursor pointer
  .touch
    background gray
    pointer-events none
    border-radius 100%
