[ripple], [reveal]
  position relative
  font-family 'Roboto', sans-serif
  font-size 20px
  padding 4px 12px
  overflow hidden
  border 0
  outline 0
  background 0
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  -o-user-select none
  user-select none

  -webkit-transition box-shadow .2s
  -moz-transition box-shadow .2s
  -ms-transition box-shadow .2s
  -o-transition box-shadow .2s
  transition box-shadow .2s
  & .touch
      background gray
      pointer-events none
      border-radius 100%

.paper-input

