
header
  position relative !relative
  background-color primary !important
  shadow(2)

.app-bar-container
  background-color primary !important

.hero-overlay
  position relative
  left 0
  width 100%
  height 100%
  z-index 200
  opacity 0.8
  text-align center
  background-color primary

.hero-content
  z-index 2000
