.hero
  height 400px
  // background-color accent
  // background-image radial-gradient(circle at 100% 150%, accent 24%, white 25%, white 28%, accent 29%, accent 36%, white 36%, white 40%, transparent 10%, transparent), radial-gradient(circle at 0    150%, accent 24%, white 25%, white 28%, accent 29%, accent 36%, white 36%, white 40%, transparent 10%, transparent), radial-gradient(circle at 50%  100%, white 10%, accent 11%, accent 23%, white 24%, white 30%, accent 31%, accent 43%, white 44%, white 50%, accent 51%, accent 63%, white 64%, white 71%, transparent 41%, transparent), radial-gradient(circle at 100% 50%, white 5%, accent 6%, accent 15%, white 16%, white 20%, accent 21%, accent 30%, white 31%, white 35%, accent 36%, accent 45%, white 46%, white 49%, transparent 20%, transparent), radial-gradient(circle at 0    50%, white 5%, accent 6%, accent 15%, white 16%, white 20%, accent 21%, accent 30%, white 31%, white 35%, accent 36%, accent 45%, white 46%, white 49%, transparent 20%, transparent)
  // background-size 100px 50px

  background radial-gradient(canvas 15%, transparent 16%) 0 0, radial-gradient(canvas 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px
  background-color white
  background-size 16px 16px
  shadow(2)
  position relative
  // & .main-hero
    // text-align center
