nav h4
  color white !important

.app-bar button:focus
  background none !important

.app-bar-actions a
  text-decoration none
  margin-top 5px
  margin-right 5px
  &:hover, :link, :active
    text-decoration none !important
    color #646464

header.promote-layer.app-bar, div.app-bar-container
  background-color primary

.shadow-2-right
  box-shadow 4px 0px 10px 0px rgba(0, 0, 0, 0.35)

.navdrawer-container.opened ul li
  border none
  margin-top 2px
  margin-bottom 2px
  &.active
    background-color white
    border-right solid 4px accent
    & a
      color primary
      // height 67px


// .navdrawer-container.opened h4
  // height 67px

.navdrawer-container:not(.opened)
  border-top solid 2px accent
  background-color primaryLight
  shadow(2)

.navdrawer-container ul li a:hover
  background none
