nav h4
  color white !important

.app-bar button:focus
  background none !important

header.promote-layer.app-bar, div.app-bar-container
  background-color primary

.shadow-2-right
  box-shadow 4px 0px 10px 0px rgba(0, 0, 0, 0.35)

.navdrawer-container.opened ul li
  border none
  &.active
    background-color white
    border-right solid 4px accent
    & a
      color primary

.navdrawer-container:not(.opened) ui li.active
  background-color white
  border-bottom 3px accent sold
  & a
    color primary


