nav h4
  color white !important

.app-bar button:focus
  background none !important

.shadow-2-right
  box-shadow 4px 0px 10px 0px rgba(0, 0, 0, 0.35)

.navdrawer-container ul li
  border none
  &.active
    background-color white
    border-right solid 2px accent
    & a
      color primary


