#profile-container
  height 1000px
  & #side-bar
    background-color primaryLight
    height 1000px
    border-right solid 2px accent
    & section
      border-bottom white solid 2px
      background-color primary
      color white
      padding 5px 15px
      height 15%
      width 100%
    & ul
      padding 0px
      padding-top 10px
      & li
        font-size 1.8em
        margin-bottom 10px
        padding-top 5px
        padding-bottom 5px
        &:before
          display none
        & a
          color white
          text-decoration none

