#profile-container
  height 1000px
  & #side-bar
    background-color primary
    height 1000px
    & section
      background-color primaryDark
      color white
      padding 10px 15px
      text-decoration underline
      height 15%
      width 100%
      & img
        width 30%
        border-radius 100%
        border solid accent 2px
    & ul
      padding 0px
      & li
        font-size 1.8em
        margin-bottom 10px
        padding-top 10px
        padding-bottom 10px
        &.active
          background-color primaryLight
          border-right solid accent 3px
          cursor pointer
        &:before
          display none
        &:hover
          background-color primaryLight
          cursor pointer
          border-right solid accent 3px
        & a
          color white
          text-decoration none
          & .message-noti
            display inline-block
            width 30px
            height 30px
            background-color googleRed
            border-radius 50%
            text-align center
            font-size 0.5em

