.heavy-text
  font-weight 400

.settings
  & .settings-header
    // overflow hidden
    background-color primaryDark
    height 150px
    width 1000px
    margin-left -50px
    margin-bottom 50px
    & h1
      color white
      margin-left 50px
  & .card-form
    // width 100%
    background-color white
    & .form-header
      font-size 1.4em
      font-weight 400
    & .paper-button
      float right