@import '_colors'
@import '_animations'
@import '_shadows'
@import '_nav'
@import '_hero'
@import '_buttons'

@media (min-width: 990px)
  .main
    max-width 864px
    padding-top 0
    min-height initial

.main
  margin 0 auto
  padding 60px 16px 16px 16px
  min-height 100%
  transition transform 0.3s ease-out

.card
  background-color white
  border-radius 3px
  padding 15px
  shadow(2)
  width 150px
  height 75px

.card-form
  width w = 500px
  height w - 100
  margin-bottom 20px
  padding 30px

.app-bar .main
  padding-top 0
